 .main {
    display: flex;
    flex-direction: column; /* Asegura que los elementos estén en una columna */
    justify-content: center; /* Centra el contenido verticalmente dentro de .main */
    align-items: center; /* Centra el contenido horizontalmente dentro de .main */
    text-align: center; /* Centra el texto dentro de los elementos */
    font-family: Arial, Helvetica, sans-serif;
  }

  h1{
    margin: 200px 0px 30px 0px; /* Añade un margen superior de 150px */
    font-size: 90px;
  }

  p{
    font-size: 25px;
    margin: 0px 0px 15px 0px; /* Añade un margen inferior de 30px */
  }
  
  .social{
    display: flex;
    gap: 0.8rem; /* Añade un espacio entre los elementos */
  }

  .icons{
    font-size: 5rem;
  }
