/* Footer.css */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px 0;
  }

  .Pfooter{
    font-size: 25px;
  }

  .Skills{
    margin-top: 10px;
    font-size: 30px;
  }

  .Skills:hover{
    color: gray;
  }

  .Pfooter:hover{
    color: gray;
  }

